<div class="row">
	<aside class="span4">

		<table>
			<tr>
				<td><%= gravatar_for @user %></td>
				<td>
					<table>
						<tr><td><%= @user.email %></td></tr>
						<tr><td><%= @user.name  %></td></tr>
					</table>
				</td>
			</tr>
		</table>

	</aside>
</div>
